Node-red.json
[
    {
        "id": "mqtt-in",
        "type": "mqtt in",
        "z": "flow1",
        "name": "Recebe dados da moto",
        "topic": "moto/#",
        "qos": "0",
        "datatype": "auto",
        "broker": "broker-mqtt",
        "x": 160,
        "y": 140,
        "wires": [["switch-topico"]]
    },
    {
        "id": "switch-topico",
        "type": "switch",
        "z": "flow1",
        "name": "Separar por tópico",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            { "t": "eq", "v": "moto/proximidade", "vt": "str" },
            { "t": "eq", "v": "moto/alarme", "vt": "str" },
            { "t": "eq", "v": "moto/movimento", "vt": "str" },
            { "t": "eq", "v": "moto/gps", "vt": "str" }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 370,
        "y": 140,
        "wires": [
            ["conv-proximidade"],
            ["conv-alarme"],
            ["json-movimento"],
            ["json-gps"]
        ]
    },
    {
        "id": "conv-proximidade",
        "type": "function",
        "z": "flow1",
        "name": "Converter proximidade",
        "func": "msg.payload = parseFloat(msg.payload);\nreturn msg;",
        "outputs": 1,
        "x": 620,
        "y": 80,
        "wires": [["gauge-proximidade"]]
    },
    {
        "id": "gauge-proximidade",
        "type": "ui_gauge",
        "z": "flow1",
        "name": "Distância",
        "group": "group1",
        "order": 1,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "Proximidade (cm)",
        "label": "cm",
        "format": "{{value}}",
        "min": 0,
        "max": "400",
        "x": 870,
        "y": 80,
        "wires": []
    },
    {
        "id": "conv-alarme",
        "type": "function",
        "z": "flow1",
        "name": "Converter alarme",
        "func": "let val = Number(msg.payload);\nmsg.payload = val === 1 ? \"🚨 ALARME ATIVADO\" : \"✅ Alarme desligado\";\nreturn msg;",
        "outputs": 1,
        "x": 620,
        "y": 140,
        "wires": [["text-alarme"]]
    },
    {
        "id": "text-alarme",
        "type": "ui_text",
        "z": "flow1",
        "group": "group1",
        "order": 2,
        "width": 6,
        "height": 2,
        "name": "Status do Alarme",
        "label": "Alarme",
        "format": "{{msg.payload}}",
        "x": 870,
        "y": 140,
        "wires": []
    },
    {
        "id": "json-movimento",
        "type": "json",
        "z": "flow1",
        "name": "Parse JSON Movimento",
        "property": "payload",
        "action": "obj",
        "x": 610,
        "y": 200,
        "wires": [["split-movimento"]]
    },
    {
        "id": "split-movimento",
        "type": "function",
        "z": "flow1",
        "name": "Separar eixos",
        "func": "return [\n  { payload: msg.payload.x, topic: \"Eixo X\" },\n  { payload: msg.payload.y, topic: \"Eixo Y\" },\n  { payload: msg.payload.z, topic: \"Eixo Z\" }\n];",
        "outputs": 3,
        "x": 840,
        "y": 200,
        "wires": [["chart-movimento","gauge-x"], ["chart-movimento","gauge-y"], ["chart-movimento","gauge-z"]]
    },
    {
        "id": "chart-movimento",
        "type": "ui_chart",
        "z": "flow1",
        "name": "Movimento XYZ",
        "group": "group1",
        "order": 3,
        "width": 12,
        "height": 6,
        "label": "Acelerômetro (m/s²)",
        "chartType": "line",
        "legend": "true",
        "x": 1100,
        "y": 200,
        "wires": [[], []]
    },
    {
        "id": "gauge-x",
        "type": "ui_gauge",
        "z": "flow1",
        "name": "Eixo X",
        "group": "group1",
        "order": 4,
        "width": 4,
        "height": 3,
        "gtype": "donut",
        "title": "Eixo X",
        "label": "m/s²",
        "format": "{{value}}",
        "min": -20,
        "max": 20,
        "x": 1100,
        "y": 260,
        "wires": []
    },
    {
        "id": "gauge-y",
        "type": "ui_gauge",
        "z": "flow1",
        "name": "Eixo Y",
        "group": "group1",
        "order": 5,
        "width": 4,
        "height": 3,
        "gtype": "donut",
        "title": "Eixo Y",
        "label": "m/s²",
        "format": "{{value}}",
        "min": -20,
        "max": 20,
        "x": 1100,
        "y": 320,
        "wires": []
    },
    {
        "id": "gauge-z",
        "type": "ui_gauge",
        "z": "flow1",
        "name": "Eixo Z",
        "group": "group1",
        "order": 6,
        "width": 4,
        "height": 3,
        "gtype": "donut",
        "title": "Eixo Z",
        "label": "m/s²",
        "format": "{{value}}",
        "min": -20,
        "max": 20,
        "x": 1100,
        "y": 380,
        "wires": []
    },
    {
        "id": "json-gps",
        "type": "json",
        "z": "flow1",
        "name": "Parse JSON GPS",
        "property": "payload",
        "action": "obj",
        "x": 610,
        "y": 440,
        "wires": [["map-gps"]]
    },
    {
        "id": "map-gps",
        "type": "ui_text",
        "z": "flow1",
        "name": "GPS Texto",
        "group": "group1",
        "order": 7,
        "width": 12,
        "height": 2,
        "label": "Localização",
        "format": "Lat: {{msg.payload.lat}} | Lng: {{msg.payload.lng}}",
        "x": 870,
        "y": 440,
        "wires": []
    },
    {
        "id": "broker-mqtt",
        "type": "mqtt-broker",
        "name": "HiveMQ Broker",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "node-red-moto",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true
    },
    {
        "id": "group1",
        "type": "ui_group",
        "name": "Monitor Moto",
        "tab": "tab1",
        "order": 1,
        "disp": true,
        "width": "12"
    },
    {
        "id": "tab1",
        "type": "ui_tab",
        "name": "Dashboard Moto",
        "icon": "dashboard"
    }
]
