JSON/Node-red.json
[
    {
        "id": "mqtt_in_gps",
        "type": "mqtt in",
        "z": "main",
        "name": "GPS",
        "topic": "moto/gps",
        "qos": "0",
        "datatype": "auto",
        "broker": "broker_hivemq",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 130,
        "y": 80,
        "wires": [["json_gps", "db_insert_gps"]]
    },
    {
        "id": "json_gps",
        "type": "json",
        "z": "main",
        "name": "Parse GPS",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 320,
        "y": 80,
        "wires": [["func_gps_text"]]
    },
    {
        "id": "func_gps_text",
        "type": "function",
        "z": "main",
        "name": "Format GPS text",
        "func": "msg.payload = `Lat: ${msg.payload.lat.toFixed(5)} | Lng: ${msg.payload.lng.toFixed(5)}`;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 80,
        "wires": [["ui_gps_text"]]
    },
    {
        "id": "ui_gps_text",
        "type": "ui_text",
        "z": "main",
        "group": "grp_dashboard",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "GPS text",
        "label": "Localização",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 750,
        "y": 80,
        "wires": []
    },
    {
        "id": "mqtt_in_prox",
        "type": "mqtt in",
        "z": "main",
        "name": "Proximidade",
        "topic": "moto/proximidade",
        "qos": "0",
        "datatype": "auto",
        "broker": "broker_hivemq",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 140,
        "y": 160,
        "wires": [["func_prox_num", "db_insert_prox"]]
    },
    {
        "id": "func_prox_num",
        "type": "function",
        "z": "main",
        "name": "String → Number",
        "func": "msg.payload = parseFloat(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 160,
        "wires": [["ui_prox_gauge"]]
    },
    {
        "id": "ui_prox_gauge",
        "type": "ui_gauge",
        "z": "main",
        "name": "Distância",
        "group": "grp_dashboard",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Distância (cm)",
        "label": "cm",
        "format": "{{value}}",
        "min": 0,
        "max": 400,
        "colors": ["#00b500", "#e6e600", "#ca3838"],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 570,
        "y": 160,
        "wires": []
    },
    {
        "id": "mqtt_in_mov",
        "type": "mqtt in",
        "z": "main",
        "name": "Movimento",
        "topic": "moto/movimento",
        "qos": "0",
        "datatype": "auto",
        "broker": "broker_hivemq",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 140,
        "y": 240,
        "wires": [["json_mov", "db_insert_mov"]]
    },
    {
        "id": "json_mov",
        "type": "json",
        "z": "main",
        "name": "Parse Movimento",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 360,
        "y": 240,
        "wires": [["func_split_mov"]]
    },
    {
        "id": "func_split_mov",
        "type": "function",
        "z": "main",
        "name": "Extrair X,Y,Z",
        "func": "return [\n  { payload: msg.payload.x, topic: \"Eixo X\" },\n  { payload: msg.payload.y, topic: \"Eixo Y\" },\n  { payload: msg.payload.z, topic: \"Eixo Z\" }\n];",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 240,
        "wires": [["ui_chart_mov"], ["ui_chart_mov"], ["ui_chart_mov"]]
    },
    {
        "id": "ui_chart_mov",
        "type": "ui_chart",
        "z": "main",
        "name": "Accel XYZ",
        "group": "grp_dashboard",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Acelerômetro (XYZ)",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Esperando dados...",
        "dot": false,
        "ymin": "-20",
        "ymax": "20",
        "removeOlder": "60",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "colors": ["#1f77b4", "#ff7f0e", "#2ca02c"],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 780,
        "y": 240,
        "wires": [[]]
    },
    {
        "id": "mqtt_in_alarm",
        "type": "mqtt in",
        "z": "main",
        "name": "Alarme",
        "topic": "moto/alarme",
        "qos": "0",
        "datatype": "auto",
        "broker": "broker_hivemq",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 130,
        "y": 320,
        "wires": [["func_alarm_num", "db_insert_alarm"]]
    },
    {
        "id": "func_alarm_num",
        "type": "function",
        "z": "main",
        "name": "String → Number",
        "func": "msg.payload = Number(msg.payload);\nif(msg.payload === 1){\n    msg.payload = \"🚨 ALARME ATIVADO!\";\n}else{\n    msg.payload = \"✅ Seguro\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 320,
        "wires": [["ui_alarm_text"]]
    },
    {
        "id": "ui_alarm_text",
        "type": "ui_text",
        "z": "main",
        "group": "grp_dashboard",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "Status Alarme",
        "label": "Alarme",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 570,
        "y": 320,
        "wires": []
    },
    {
        "id": "db_insert_gps",
        "type": "function",
        "z": "main",
        "name": "DB Insert GPS",
        "func": "msg.topic = \"INSERT INTO dados_moto (tipo, valor) VALUES ('gps', '\" + msg.payload + \"')\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 120,
        "wires": [["sqlite_db"]]
    },
    {
        "id": "db_insert_prox",
        "type": "function",
        "z": "main",
        "name": "DB Insert Prox",
        "func": "msg.topic = \"INSERT INTO dados_moto (tipo, valor) VALUES ('proximidade', '\" + msg.payload + \"')\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 360,
        "y": 200,
        "wires": [["sqlite_db"]]
    },
    {
        "id": "db_insert_mov",
        "type": "function",
        "z": "main",
        "name": "DB Insert Mov",
        "func": "msg.topic = \"INSERT INTO dados_moto (tipo, valor) VALUES ('movimento', '\" + JSON.stringify(msg.payload) + \"')\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 360,
        "y": 280,
        "wires": [["sqlite_db"]]
    },
    {
        "id": "db_insert_alarm",
        "type": "function",
        "z": "main",
        "name": "DB Insert Alarm",
        "func": "msg.topic = \"INSERT INTO dados_moto (tipo, valor) VALUES ('alarme', '\" + msg.payload + \"')\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 360,
        "y": 360,
        "wires": [["sqlite_db"]]
    },
    {
        "id": "sqlite_db",
        "type": "sqlite",
        "z": "main",
        "mydb": "motosdb",
        "sqlquery": "msg.topic",
        "output": "str",
        "name": "SQLite DB",
        "x": 600,
        "y": 440,
        "wires": [["debug_db"]]
    },
    {
        "id": "debug_db",
        "type": "debug",
        "z": "main",
        "name": "DB Log",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 440,
        "wires": []
    },
    {
        "id": "broker_hivemq",
        "type": "mqtt-broker",
        "name": "HiveMQ Broker",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": ""
    },
    {
        "id": "grp_dashboard",
        "type": "ui_group",
        "name": "Monitoramento",
        "tab": "tab_dashboard",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "tab_dashboard",
        "type": "ui_tab",
        "name": "Motos IoT",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "motosdb",
        "type": "sqlitedb",
        "db": "./data/motos.db",
        "mode": "RWC"
    }
]
